{%- if var | eval_if_condition -%}
{%- if var.comment %}
  # {{ var.comment }}
{%- endif %}
  {% if var.commented_out -%}# {% endif -%}{{- var.name -}}: ${{- ("vars." + var.name) | inCurlies -}}
{%- endif -%}
