{%- if secret | eval_if_condition -%}
{%- if secret.comment %}
  # {{ secret.comment }}
{%- endif %}
  {% if secret.commented_out -%}# {% endif -%}{{- secret.name -}}: ${{- ("secrets." + secret.name) | inCurlies -}}
{%- endif -%}
