{%- if var | eval_if_condition %}
{%- if var.comment %}
/* {{ var.comment }} */
{%- endif %}
{% if var.commented_out %}/* {% endif %}{{ var.name }} = "${ env.{{ var.name }} }"{% if var.commented_out %} */{% endif -%}
{%- endif -%}
