{%- include "do-not-edit.njk" -%}
{%- set secrets = gitops_secrets -%}

trigger:
  - main

# Using self-hosted 'Default' agent pool by default
# Change accordingly when using a different agent pool
# Can be deleted if self-hosted agents are not being used
# See https://learn.microsoft.com/en-us/azure/devops/pipelines/agents/agents
pool:
  name: Default

container:
  image: quay.io/redhat-appstudio/rhtap-task-runner:latest
  options: --privileged

# Using 'rhtap' variable group by default
# Change accordingly when using a different variable group
# Can be deleted if the variables are set differently
# See https://learn.microsoft.com/en-us/azure/devops/pipelines/process/variables
variables:
  - group: rhtap

steps:
{%- filter indent(2) -%}
{%- for step in gitops_steps %}
{% include "azure-step.njk" %}
{%- endfor -%}
{%- endfilter -%}