{%- include "do-not-edit.njk" -%}

{%- include "jenkins-library-source.njk" -%}

pipeline {
    agent any
    environment {
        {%- filter indent(8) -%}
        {%- for var in build_variables -%}
        {# Variables currently have to be set as secrets so they can be limited to a folder #}
        {%- set secret = var -%}
        {%- include "jenkins-secret.njk" -%}
        {%- endfor %}
        {%- for secret in build_secrets -%}
        {%- include "jenkins-secret.njk" -%}
        {%- endfor %}
        {%- endfilter -%}
    }
    stages {
        {%- for step in build_steps %}
        {% include "jenkins-step.njk" %}
        {%- endfor %}
    }
}
